.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group 
        = @group.name
      %ul.main-header__left-box__member-list 
        Member：
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class:"main-header__edit-btn" do
      Edit
  .messages
    / 部分テンプレートの呼び出し。
    / render partial: 'message', collection: @messages の省略形
    / これは、①部分テンプレート名がインスタンス変数の単数形であること
    / ②部分テンプレートで用いる変数名が同一である時 に使える
    / - @messages.each do |message| これは処理速度が遅いやつ！
    /   = render partial: "message", locals: {message: message}
    = render @messages
  .form
    / @groupは、どのグループのメッセージとして保存したいのか
    / @messageはMessageモデルのインスタンス
    = form_for [@group, @message], html: { class: 'new-message'} do |f|
      .input-box
        / 保存先カラムはcontent
        = f.text_field :content, class: "input-box__text", placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'send', class: 'submit-btn' 



